<div{{ attributes.setAttribute('style', 'display: none;') }}>

  <div class="link-dialog-content">
    {% if title %}
      <h2 class="link-dialog-title">{{ title }}</h2>
    {% endif %}
    <div class="link-dialog-message">
      {{ message | raw }}
    </div>
  </div>

  <div class="link-dialog-actions">
    <button class="link-dialog-ok">{{ "OK" | t }}</button>
    <button class="link-dialog-close">{{ "Close" | t }}</button>
  </div>

</div>
